@charset "UTF-8"

/* CSS Documento */

body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

section{
    width: 100%;
    height: 95vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.logo-img{
    position: absolute;
    right: 19px;
    nav-up: 8px;
    left: 1%;
    top: 1%;
}

.active{
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 20px;
    margin: 0px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container a{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.model{
    height: 560px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
}

@media screen and (max-width:1000px){
    section{
        flex-direction: column-reverse;
        
    }
    section > img{
        height: 40%;
    }
}

@media screen and (max-width:600px){
    section > img{
        height: 25%;
    }

    .modal img{
        height: 30%;
    }
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: #fff701;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 250px;
}

.about-text{
    width: 550px;
}

.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    font-family: calibri;
    background-color: #262525;
}

.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}

h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
  }

.carousel{
    display: flex;
    height: 95vh;
    width: 100%;
    align-items: center;
  }
  h4, h2, small, a{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  .carousel{
    width: 100%;
    margin: 0;
  }

  @media(max-width:400px){
    .carousel{
        display: flex;
        height: 85vh;
        width: 100%;
        align-items: center;
      }
}
  
  /*Imagenes*/
  
  .slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 450px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
  }
  .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
  }
  .slick{
    position: relative;
    width: 400px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
  }
  .slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffa600;
    padding: 15px;
  }
  .slick h4 small{
    font-size: 15px;
    display: block;
  }
  .slick a img{
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
  }
  .slick a img:hover{
    opacity: .85;
  }
  
  /*Botones*/
  
  .slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    border: 0;
    cursor: pointer;
  }
  .slick-arrow:focus{
    outline: 0;
  }
  .slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, .7);
  }
  .slick-prev{
    left: 0px;
  }
  .slick-next{
    right: 0px;
  }


.contact-me{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    background-image: url(../img/project\ in\ your\ mind.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color: #ffe604;
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #ffe604;
}

.contact-me button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffe604;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

@media(max-width:400px){
    nav{
        font-size: 15px;
    }
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p{
    font-family: calibri;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons{
    display: flex;
}

.copyright{
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons i{
    color: #000000;
}

.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.a-social-b a:hover i{
    color: #ffe604;
    transition: all ease 0.5s;
}

@media(max-width:1199px){
    .logo-img{
        opacity: 0;
    }
}

@media(max-width:1000px){
    *{
        box-sizing: border-box;
    }
    .model{
        height: 460px;
        left: 90%;
        transform: translateX(-90%);
    }
    .text-container{
        top: 42%;
        height: 100px;
    }
    .text-container button{
        margin: 5px;
    }
    .about-container{
        width: 90%;
        border-radius: 10px;
    }
    .about-container img{
        display: none;
    }
    .about-text{
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }
    .about-text p:nth-child(2){
        font-size: 10px;
    }
    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
        font-size: 14px;
    }
    .contact-me{
        height: 200px;
    }
    .contact-me p{
        font-size: 26px;
    }
    .contact-me button{
        font-size: 14px;
        height: 35px;
        width: 160px;
    }
}

@media(max-width:750px){
    .section{
        background-image: none;
        background-color: #f7f7f7;
    }
    .model{
        display: none;
    }
    .toggle{
        display: block;
    }
    .text-container p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-container{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .logo-img{
        opacity: 0;
    }
    .about-container{
        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text{
        width: 90%;
        text-align: center;
    }
    .services-text{
        width: 100%;
    }
    .contact-me{
        height: 180px;
    }
    .contact-me p{
        font-size: 18px;
    }
    .contact-me button{
        width: 150px;
        height: 33px;
    }
    footer p:nth-child(2){
        width: 90%;
    }
}

@media(max-width:530px){
    .copyright{
        height: 1px;
    }
}